.scoreboard {
  background-color: #5fc4b6;
  padding: 5px;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.score-header {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  text-align: center;
}
#score {
  text-align: center;
  padding: 5px;
}
canvas {
  border-radius: 5px;
}
body {
  -moz-overscroll-behavior-y: contain;
  -webkit-overscroll-behavior-y: contain;
  overscroll-behavior-y: contain;
}
