.message-navbar {
  position: relative;
  z-index: 20;
}
.message-body {
  z-index: -20;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
