/* Color Scheme: Gray - #657A73 | Green - #31572c secondary - #2e522a*/
.net {
  display: block;
  width: 90%;
  margin: 20px auto;
}
.paper {
  background-color: white;
  display: block;
  width: 50%;
  margin: 0 auto;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
body {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 700px) {
  .paper {
    width: 80%;
  }
  .navbar {
    text-align: center;
  }
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.btn-primary {
  background-color: #31572c;
  border-color: #407039;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: #2e522a;
  border-color: #355e30;
}
.navbar-inverse .navbar-nav>.active>a,
.bg-primary,ul li.active {
	background-clip: content-box;
	border-color: #407039;
	background-color: #31572c !important;
}
.bg-secondary {
	background-clip: border-box;
	border-color: #355e30;
	background-color: #2e522a !important;
}
.navbar {
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

h2 {
	background-clip: content-box;
}
.badge-success {
  background-color: #green;
}
.badge-danger {
  background-color: #ff0000;
}
.feed {
	-moz-border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    border-radius: 10px 10px 0 0 !important;
	background-color: white;
	box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	-moz-box-shadow: 5px 5px 5px black;
	padding-bottom: 50px;
}
