/* Color Scheme: Gray - #657A73 | Green - #31572c secondary - #2e522a*/
.net {
  display: block;
  width: 90%;
  margin: 20px auto;
}
.paper {
  background-color: white;
  display: block;
  width: 60%;
  margin: 0 auto;
  color: black;
  padding-bottom: 10px;
  border-radius: 10px;
}
.paper p {
  margin: 10px;
}
.big-paper {
  background-color: white;
  display: block;
  width: 80%;
  margin: 0 auto;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
body {
  background-color: #f1f1f1;
}
.btn-large {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .paper {
    width: 80%;
  }
  .navbar {
    text-align: center;
  }
}
.bg-white {
  background-color: white;
}
.rounded-5 {
  border-radius: 5px;
}
.rounded-10 {
  border-radius: 10px;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.btn-primary {
  background-color: #31572c;
  color: white;
  border-color: #407039;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: #2e522a;
  border-color: #355e30;
}
.navbar-inverse .navbar-nav>.active>a,
.bg-primary,ul li.active {
	background-clip: content-box;
	border-color: #407039;
	background-color: #31572c !important;
}
h2.bg-primary {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-clip: border-box;
  text-align: center;
}
.bg-secondary {
	background-clip: border-box;
	border-color: #355e30;
	background-color: #2e522a !important;
}
.navbar {
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

h2 {
	background-clip: content-box;
}
.badge-success {
  background-color: #28a745;
}
.badge-danger {
  background-color: #ff0000;
}
.feed {
	-moz-border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    border-radius: 10px 10px 0 0 !important;
	background-color: white;
	box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
  padding-bottom: 50px;
  display:block;
}

input.label:empty {
  display: inline;
}
input.label {
  float: right;
  padding: .3em .6em .4em;
}


@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu{
		margin-top: 0;
	}
	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}

}

#posts {
  padding: 20px;
}
.post {
  display: block;
  margin: 5px;
}
.postimg {
  border: 2px solid;
  border-style: inset;
}
.net-fluid {
  width: 100%;
  display: block;
}
p.userName {
  text-align:left;
  text-decoration: underline;
  padding-left:15px;
}
.userinfo {
  margin-bottom: 2px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  background-clip:border-box;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px 2.5px grey;
}
.postDate {
  text-align: right;
  color: grey;
}
h2.bg-secondary {
  text-align: center !important;
  color: white !important;
  background-clip: border-box !important;
}
.postTag {
  color: #27a5db;
  padding: 4px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
}
.postCaption {
  border-top : 1px solid grey;
  padding: 5px;
  color: black;
  text-decoration: none;
}
.fixed-bottom {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
}
