<div class='row col-xs-12 post' id="post_{{.postid}}">
  <div class='row userinfo' onclick="goToUser(this)">
    <a href="/live/user/{{.userid}}" style="display:none;"></a>
    <p class='col-xs-6 userName color-t' id='{{.userid}}'></p>
    <p class='col-xs-6 postDate color-t'>{{.thisdate}}</p>
  </div>
  <div class='row'>
    <a href="/live/view/post/{{.userid}}.{{.postid}}" class='col-xs-12'>
      <center>
        {{.content}}
      </center>
    </a>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1 postCaption color-t'> {{.caption}}<br> </div>
    <div class='col-sm-4 col-xs-8 col-xs-offset-2 dropdown'>
      <button class="btn btn-primary dropdown-toggle btn-block color-t" type="button" data-toggle="dropdown">Share
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- iPhone -->
        <li class="iphoneSMS"><a style="text-decoration: none;" href="sms:;body=Hehe! socialfoot.me/live/view/post/{{.userid}}.{{.postid}}">Text/SMS</a></li>
        <!-- Android -->
        <li class="androidSMS"><a style="text-decoration: none;" href="sms:?body=Hehe! socialfoot.me/live/view/post/{{.userid}}.{{.postid}}">Text/SMS</a></li>

        <li id="copy"><a style="text-decoration: none;" onclick="copyTextToClipboard('socialfoot.me/live/view/post/{{.userid}}.{{.postid}}');">Copy</a></li>
        <script>
          function getMobileOperatingSystem() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

                // Windows Phone must come first because its UA also contains "Android"
              if (/windows phone/i.test(userAgent)) {
                  return "Windows Phone";
              }

              if (/android/i.test(userAgent)) {
                  return "Android";
              }

              // iOS detection from: http://stackoverflow.com/a/9039885/177710
              if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                  return "iOS";
              }

              return "unknown";
          }
          $(document).ready({
             let device = getMobileOperatingSystem();
             if(device == "unknown") {
               $(".androidSMS").remove();
               $(".iphoneSMS").remove();
             } else if(device == "Android" || device == "Windows Phone") {
               $(".iphoneSMS").remove();
             } else {
               $(".androidSMS").remove();
             }
          });
        </script>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-10 col-xs-offset-1 color-t'>{{.tags}}</div>
  </div>
</div>
