<!DOCTYPE html>
﻿<html lang='en'>
    <head>
        <title>Report a bug</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
		<!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
    	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
  <style>
html,body {
  margin: 0;
  padding: 0;
}
  </style>
  <link rel='stylesheet' href='/assets/css/SocialFoot.css'>
  <script src="/assets/scripts/live.js"></script>
    </head>
    <body id='body'>
        <nav class='navbar navbar-inverse bg-primary'>
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <a href='/live'>
                      <img src="/assets/images/SocialFootLogo.png" width="100px">
                    </a>
                </div>
                <ul class='nav navbar-nav'>
                  <li><a href='/live'>Home</a></li>
                  <li><a href='#'>Search</a></li>
                  <li class='active'><a href='/report'>Report</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
		              <li><a href='/live/post'>Post</a></li>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown'><span class='glyphicon glyphicon-user'></span> {{.username}}</a>
                    <ul class='dropdown-menu'>
                      <li class='dropdown-item'><a href='/live/profile'>Settings</a></li>
                      <li class='dropdown-item'><a href='#'>Messages</a></li>
                      <li class='dropdown-item'><a href='/live/feed'>Your Feed</a></li>
                      <div class='dropdown-divider'></div>
                      <li class='dropdown-item'><a onclick="signOut()">Sign out</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
        </nav>



	<div class='net container'>
		<div class='col-md-9 col-sm-12'>
			<div class='feed'>
				<center>
					<h2 class='bg-primary'>Submit Bug Report</h2>
				</center>
        <form class='container' style="width:100%" method="post" action="/report/submit/bugreport">
          <div class="input-group">
            <span class="input-group-addon" id="content-addon">Report:</span>
            <textarea name="report" aria-describedby="content-addon" class="form-control"></textarea>
          </div>
          <input type='submit' class="btn btn-info" name="submit" value="Submit">

        </form>
			</div>
		</div>
	</div>






     <script>
        //Dropdown open on hover
        $(document).ready(function() {
          $(".dropdown").hover(function(){
            var dropdownMenu = $(this).children(".dropdown-menu");
            if(dropdownMenu.is(":visible")) {
              dropdownMenu.parent().toggleClass("open");
            }
          });
        });
        var body = document.getElementById('body');
        body.removeChild(body.childNodes[0]);
     </script>





    </body>
</html>
