<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
		<!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
      <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <style>
html,body {
  margin: 0;
  padding: 0;
}
  </style>
  <link rel='stylesheet' href='/assets/css/SocialFoot.css'>
    </head>
    <body id='body'>
	<nav class='navbar navbar-inverse bg-primary'>
	    <div class='container-fluid'>
			<div class='navbar-header'>
				<a href='/'>
          <img src="/assets/images/SocialFootLogo.png" width="100px">
        </a>
			</div>
	        <ul class='nav navbar-nav navbar-right'>
				<li><a href='/live'>Back</a></li>
	        </ul>
	    </div>
	</nav>
	<div class="container">
		<form method="post" enctype='multipart/form-data' action="/user/post/imagepost"  class="big-paper">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <label class="btn btn-primary search-file-btn btn-large">
			     <input type="file" name="upload" id="FileUpload" style="display:none;"> <span>Choose file</span>
          </label>
          <br>
          <center>
            <span>No file selected</span>
          </center>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="row">
	        <center>
            <div class="col-md-5 col-xs-12 padding-md">
              <div class="input-group">
                <span class="input-group-addon" id="tags-addon">Tags</span>
                <input type="text" class="form-control" aria-describedby="tags-addon" placeholder="Tags..." name="tags">
              </div>
            </div>
            <div class="col-md-5 col-xs-12 padding-md">
              <div class="input-group">
                <span class="input-group-addon" id="post-type-addon">Post Type</span>
                <select name="type" class="form-control" aria-describedby="post-type-addon">
                  <option value="{{.publicity}}">{{.publicity}}</option>
                  <option value="{{.xpublicity}}">{{.xpublicity}}</option>
                </select>
              </div>
            </div>
	        </center>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon" id="caption-addon">Caption</span>
                <textarea class="form-control" aria-describedby="caption-addon" name="caption"></textarea>
              </div>
            </div>
          </div>
          <input type="text" style="display:none;" name="id" readonly value="{{.userid}}">
          <div class="row" style="margin-top:10px">
            <div class="col-sm-4">
              <input type="submit" value="Post" name="submit" class="btn btn-info btn-block">
            </div>
          </div>
        </div>
      </div>
		</form>
	</div>

	<script>
      var body = document.getElementById("body");
      body.removeChild(body.childNodes[0]);

        $('.search-file-btn').children("input").bind('change', function() {
          var fileName = '';
          fileName = $(this).val().split("\\").slice(-1)[0];
          $(this).parent().parent().children("center").children("span").html(fileName);
        });
        
   </script>





    </body>
</html>
