<!doctype html>
<html>
    <head>
        <title>Social Foot</title>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="description" content="{MF_PLUGIN_SETTING:HOME_DESCRIPTION}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
        <style>
           html,body {
           margin: 0;
           padding: 0;
           }
        </style>
        <link rel="stylesheet" href="/assets/css/SocialFoot.css">
        <script src="/assets/scripts/live.js"></script>
        <script src="/assets/scripts/search.js"></script>
        <script src="/assets/scripts/SocialFoot.js"></script>
    </head>
    <body id='body' class="bg-feet">
        <nav class='navbar navbar-transparent'>
            <div class='container-fluid'>
              <button type="button" class="navbar-toggle col-md-1 col-xs-2" data-toggle="collapse" data-target="#utilities">
                  <img src="/assets/images/menuBars.png" alt="Menu Bars" width="100%">
              </button>
                <div class='navbar-header'>
                    <a href='/live'>
                      <img src="/assets/images/SocialFootLogo.png" width="100px">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="utilities">
                  <ul class='nav navbar-nav'>
                    <li><a href='/live'>Home</a></li>
                    <li class='active'><a href='/live/search'>Search</a></li>
                    <li><a href='/report'>Report</a></li>
                  </ul>
                  <ul class='nav navbar-nav navbar-right'>
  		              <li><a href='/live/post'>Post</a></li>
                    <li class='dropdown'>
                      <a class='dropdown-toggle' data-toggle='dropdown'><span class='glyphicon glyphicon-user'></span> {{.username}}</a>
                      <ul class='dropdown-menu'>
                        <li class='dropdown-item'><a href='/live/profile'>Settings</a></li>
                        <li class='dropdown-item'><a href='/live/messages'>Messages</a></li>
                        <li class='dropdown-item'><a href='/live/feed'>Your Feed</a></li>
                        <div class='dropdown-divider'></div>
                        <li class='dropdown-item'><a onclick="signOut()">Sign out</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>

        <!-- Body -->
        <div id='search-bar'>
            <div class="form-group row">
                <div class="col-md-2 col-xs-1">
                  <!-- Empty Div for formatting searchbar -->
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" aria-describedby="searchAddon" name="search">
                </div>
                <div class="col-md-2 col-xs-4">
                  <!-- Search Button -->
                  <button class="btn btn-primary color-t btn-block w-100" type="button" onclick="search()">Search</button>
                </div>
                <div class="col-md-2 col-xs-1">
                  <!-- More empty spacing -->
                </div>
            </div>
        </div>
        <div class="row">
          <div class="results col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" id='search-results'>
            <!-- Will Insert Results Here -->
          </div>
        </div>
    </body>
</html>
